<tbody id="rent-list">
    {% for rent in rents %}
    <tr>
        <td>{{ rent.iha_model }}</td>
        <td>{{ rent.username }}</td>
        <td>{{ rent.rentStartDate }}</td>
        <td>{{ rent.rentEndDate }}</td>
        <td>
            <a class="text-decoration-none" href="my_rents/update/{{ rent.id }}"><button class="btn btn-sm btn-warning mt-2 mr-2" title="Güncelle"><i class="fas fa-edit"></i></button></a>
            <button class="btn btn-sm btn-danger mt-2 mr-2" title="Sil" onclick="confirmDelete({{ rent.id }})"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
    {% endfor %}
</tbody>